<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Корзина</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script th:src="@{js/add.js}"></script>
    <script th:src="@{js/del.js}"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{header :: header(Cart)}"/>

    <h1>Вы находитесь в разделе Корзина</h1>

    <div class="panel panel-default">
        <div class="panel-heading">Список продуктов в корзине</div>
        <a th:href="@{/products}"></a>
        <table class="table" th:if="${basket.size() > 0}">
            <thead>
            <tr style="font-weight: bold;">
                <td>ID</td>
                <td>Title</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Cost</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="element : ${basket.getContent()}">
                <td th:text="${element.product.id}"/>
                <td>
                    <span style="font-weight: bold" th:text="${element.product.title}"/>
                    <br>
                    <span th:text="'Категория: ' + ${element.product.category.title}"/>
                </td>
                <td th:text="${element.price}"/>
                <td>
                    <form th:action="@{/cart_add}" method="POST">
                        <input type="hidden" name="id" th:value="${element.product.id}">
                        <input name="quantity" type="number">
                        <button class="btn btn-light" type="submit">Применить</button>
                    </form>
                </td>
                <td th:text="${element.getItemAmount()}"/>
                <td>

                    <button type="button" th:data-num="${element.product.id}"
                            class="btn btn-del btn-danger">Удалить из корзины
                    </button>
                </td>
            </tr>
            </tbody>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td th:text="'Сумма: ' + ${basket.getTotalCost()}"/>
            <td>
                <a sec:authorize="isAuthenticated()" th:href="@{/order}">
                    <button class="btn btn-success">Оформить заказ</button>
                </a>
                <a sec:authorize="!isAuthenticated()">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Заказ в 1 клик
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form th:action="@{/fast_order_do}" method="post">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="text" name="name" placeholder="Введите Ваше имя"><br>
                                        <input type="text" name="phone" placeholder="Введите Ваш телефон"><br>
                                        <input type="text" name="email" placeholder="Введите Ваш email"><br>
                                        <input type="hidden" name="basket" th:value="${basket}">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </a>
                <a sec:authorize="!isAuthenticated()" th:href="@{/fast_order}">
                    <button class="btn btn-success">Войти и оформить</button>
                </a>
            </td>
        </table>
    </div>
    <br>
</div>


</body>
</html>