<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Заказ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{header :: header(Cart)}"/>

    <h1>Заполните все данные</h1>

    <h5 th:text="'Сумма заказа: ' + ${basket.getTotalCost()}"/><br>
    <h5 th:text="'Name: ' + ${user.firstName} + ' ' + ${user.lastName}"/>
    <h5 th:text="'Phone: ' + ${user.phone}"/>


    <table class="table" th:if="${basket.size() > 0}">
        <thead>
        <tr style="font-weight: bold;">
            <td>ID</td>
            <td>Title</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Cost</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element : ${basket.getContent()}">
            <td th:text="${element.product.id}"/>
            <td>
                <span style="font-weight: bold" th:text="${element.product.title}"/>
                <br>
                <span th:text="'Категория: ' + ${element.product.category.title}"/>
            </td>
            <td th:text="${element.price}"/>
            <td th:text="${element.quantity}"/>
            <td th:text="${element.getItemAmount()}"/>
            <td></td>
        </tr>
        </tbody>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td th:text="'Сумма: ' + ${basket.getTotalCost()}"/>
        <td></td>
    </table>
    <form th:action="@{/order_do}" th:object="${order}" method="post">
        <input type="hidden" th:field="*{user}" th:value="${user}">
        <input type="hidden" th:field="*{items}" th:value="${basket.getContent()}">
        <input type="hidden" th:field="*{amount}" th:value="${basket.getTotalCost()}">
        <input type="text" th:field="*{address}" placeholder="Введите адрес доставки">
        <button class="btn btn-primary" type="submit">Оформить</button>
    </form>
</div>

</body>
</html>