<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Заказ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{header :: header(Cart)}"/>

    <h1 th:text="'Заказ ' + ${order.id} + ' успешно оформлен'"></h1>

    <h5 th:text="'Сумма покупок: ' + ${order.amount}"/><br>
    <h5 th:text="'Name: ' + ${order.user.firstName} + ' ' + ${order.user.lastName}"/>
    <h5 th:text="'Phone: ' + ${order.user.phone}"/>
    <h5 th:text="'Адрес доставки: ' + ${order.address}"/><br>
    <h5 th:text="'Стоимость доставки: 500 руб.'"/><br>
    <h5 th:text="'Сумма заказа: ' + ${order.amount} + 500 ' руб.'"/><br>
    <h4></h4>

    <a th:href="@{/products}"><button class="btn btn-primary">Вернуться в каталог</button></a>
    <form th:action="@{/paypal/authorize_payment}" method="post">
        <input type="hidden" name="orderId" th:value="${order.id}">
        <input type="hidden" name="amount" th:value="${order.amount}">
        <button class="btn btn-primary" type="submit">Оплатить картой онлайн</button>
    </form>
</div>

</body>
</html>