<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Spring Data Market</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script th:src="@{js/add.js}"></script>
    <script th:src="@{js/del.js}"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{header :: header(Catalog)}"/>

    <!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->


    <!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
    <!--            <ul class="navbar-nav mr-auto">-->
    <!--                <li class="nav-item active">-->
    <!--                    <a class="nav-link" th:href="@{/products}">Главная<span class="sr-only">(current)</span></a>-->
    <!--                </li>-->
    <!--                <li class="nav-item">-->
    <!--                    <a class="nav-link" th:href="@{/cart}">Корзина <span class="badge badge-light" id="cartCountNav" th:text="${basket.size()}"></span>-->
    <!--                        <span class="sr-only">товаров в корзине</span></a>-->
    <!--                </li>-->
    <!--                <li class="nav-item dropdown">-->
    <!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--                        Dropdown-->
    <!--                    </a>-->
    <!--                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
    <!--                        <a class="dropdown-item" href="#">Action</a>-->
    <!--                        <a class="dropdown-item" href="#">Another action</a>-->
    <!--                        <div class="dropdown-divider"></div>-->
    <!--                        <a class="dropdown-item" href="#">Something else here</a>-->
    <!--                    </div>-->
    <!--                </li>-->
    <!--            </ul>-->
    <!--            <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="GET">-->
    <!--                <button type="button" class="btn btn-primary" th:href="@{/cart}">-->
    <!--                    Корзина <span class="badge badge-light" id="cartCount" th:text="${basket.size()}"></span>-->
    <!--                </button>-->
    <!--                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
    <!--                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>-->
    <!--            </form>-->
    <!--        </div>-->
    <!--    </nav>-->

    <h1>Вы находитесь в разделе наушники</h1>
    <form th:action="@{/products}" method="GET">
        <div class="input-group">
            <input class="form-control" th:value="${param.min_price}" name="min_price" type="text"
                   placeholder="Минимальная цена"/>
            <input class="form-control" th:value="${param.max_price}" name="max_price" type="text"
                   placeholder="Максимальная цена"/>
            <select name="category">
                <option th:text="'Выбрать категорию'" th:value="null"/>
                <option th:each="element : ${categories}" th:text="${element.title}"
                        th:selected="${element.id == param.category}" th:value="${element.id}"/>
            </select>
            <select name="sort_by">
                <option th:text="'Сортировать по значению'" th:value="null"/>
                <option th:text="'ID'" value="id"/>
                <option th:text="'Цена'" value="price"/>
                <option th:text="'Название'" value="title"/>
            </select>
            <select name="page_values_num">
                <option th:text="'Кол-во позиций на странице'" th:value="null"/>
                <option th:text="'10'" value="10"/>
                <option th:text="'7'" value="7"/>
                <option th:text="'5'" value="5"/>
            </select>
            <br>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Фильтровать</button>
        <a class="btn btn-primary" th:href="@{'/products'}">Сбросить фильтр</a>
    </form>

    <div class="panel panel-default">
        <div class="panel-heading">Список отсортированных продуктов</div>

        <table class="table" th:if="${products.size() > 0}">
            <thead>
            <tr style="font-weight: bold;">
                <td>ID</td>
                <td>Title</td>
                <td>Price</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pr : ${products}">
                <td th:text="${pr.id}"/>
                <td>
                    <a th:href="@{'/product/' + ${pr.id}}"><span style="font-weight: bold" th:text="${pr.title}"/></a>
                    <br>
                    <span th:text="'Категория: ' + ${pr.category.title}"/>
                </td>
                <td th:text="${pr.price}"/>
                <td>
                    <button type="button" th:data-num="${pr.id}" th:data-price="${pr.price}" th:data-quantity="1"
                            class="btn btn-add btn-success" th:classappend="${basket.contains(pr.id) ? 'd-none' : ''}">
                        Добавить в корзину
                    </button>
                    <button type="button" th:data-num="${pr.id}"
                            class="btn btn-del btn-danger" th:classappend="${basket.contains(pr.id) ? '' : 'd-none'}">
                        Удалить из корзины
                    </button>
                    <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')" th:href="@{'/edit/' + ${pr.id}}" class="btn btn-warning">Редактировать</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <span th:text="'Total items count (filtered): ' + ${productsCount} +' / '"/>
    <span th:text="'Total pages (filtered): ' + ${pagesCount}"/>
    <br>

    <br>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item"><a class="page-link"
                                     th:href="@{'/products?pageIndex='+ ${page.previousOrFirstPageable().getPageNumber()+1} + ${filtersDefWP}}">Previous
                Page</a></li>
            <li class="page-item" th:classappend="${page.getNumber() + 1 == i ? 'active' : ''}"
                th:each="i : ${#numbers.sequence(1, page.getTotalPages())}">
                <a th:class="page-link" th:text="${i}" th:href="@{'/products?pageIndex=' + ${i} + ${filtersDefWP}}"></a>
            </li>
            <li class="page-item"><a class="page-link"
                                     th:href="@{'/products?pageIndex=' + ${page.nextOrLastPageable().getPageNumber()+1} + ${filtersDefWP}}">Next
                Page</a></li>
        </ul>
    </nav>

    <!--    <nav aria-label="Page navigation">-->
    <!--        <ul class="pagination">-->
    <!--            <li class="page-item"><a class="page-link" -->
    <!--                                     th:href="@{'/products?pageIndex='+ ${page.previousOrFirstPageable().getPageNumber()} + ${filtersDefWP}}">Previous Page</a>-->
    <!--            </li>-->
    <!--            <li class="page-item"><a class="page-link"-->
    <!--                                     th:href="@{'/products?pageIndex=' + ${page.nextOrLastPageable().getPageNumber()} + ${filtersDefWP}}">Next Page</a>-->
    <!--            </li>-->
    <!--        </ul>-->
    <!--    </nav>-->

</div>
</body>
</html>