<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{header :: header(Profile)}" />

    <h1>Профиль</h1>

    <h5 th:text="'Name: ' + ${user.firstName} + ' ' + ${user.lastName}" />
    <h5 th:text="'Phone: ' + ${user.phone}" /><br>


    <h6 th:if="${orders_list.size() > 0}">Ваши заказы:</h6>

    <div th:if="${orders_list.size() > 0}" class="panel panel-default">
        <div class="panel-heading">Список заказов</div>

        <table class="table" th:if="${orders_list.size() > 0}">
            <thead>
            <tr style="font-weight: bold;">
                <td>ID</td>
                <td>Date</td>
                <td>Сумма</td>
                <td>Статус оплаты</td>
                <td>Статус доставки</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders_list}">
                <td th:text="${order.id}"/>
                <td>
                    <span th:text="${order.date}"/>
                </td>
                <td th:text="${order.amount}"/>
                <td th:text="${order.paymentStatus} ? 'Оплачен' : 'Не оплачен'"/>
                <td th:text="${order.completeStatus} ? 'Доставлен' : 'Не доставлен'"/>
                <td>
                    <div th:if="!${order.paymentStatus}">
                        <form th:action="@{/paypal/authorize_payment}" method="post">
                            <input type="hidden" name="orderId" th:value="${order.id}">
                            <input type="hidden" name="subtotalPrice" th:value="${order.amount}">
                            <input type="hidden" name="shippingPrice" th:value="500">
                            <input type="hidden" name="taxPrice" th:value="(${order.amount}+500)*0.18">
                            <input type="hidden" name="totalPrice" th:value="${order.amount} + 500">
                            <button class="btn btn-success" type="submit">Оплатить картой онлайн</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>