<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Change your password</title>

    <link th:href="@{css/bootstrap-social.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>

<body>
<div sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">
    <h1 th:text="'Reset your password'">reset</h1>
    <form id="pass-form" method="post" th:action="@{/user/savePassword}">
        <label for="newPassword">New password:</label>
        <input id="newPassword" name="newPassword" type="password" th:value="newPassword"/>
        <label for="matchPassword">Confirm password:</label>
        <input id="matchPassword" name="password" type="password" th:value="password"/>
        <button type="submit">Сохранить</button>
    </form>

    <script th:inline="javascript">
    var serverContext = [[@{/}]];
    $(document).ready(function () {
    $('body').on('submit', '#pass-form', function (e) {
    var newPass = $('input[name="newPassword"]').val();
    var pass = $('input[name="password"]').val();
    var formVar = this;
        e.preventDefault();
        if (pass != newPass) {
        alert('Пароли не совпадают!')
        } else {
        formVar.submit();
        }
    });
});
    </script>
</div>
</body>
</html>